*.bz2
*.gz
*.sig
/*.1
/*.8
/Doxyfile
Makefile
Makefile.in
/ABOUT-NLS
/abi.xml
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/libcxx_doctags
/header.html
/html
/INSTALL
/install-sh
/libcxx*.pc
/libcxx_config.h
/libcxx_config.h.in
/libltdl
/libtool
/ltmain.sh
/m4
/man.stamp
/missing
/repo
/rpm
/stamp-h1
/xml
